.Admin_link_sidebar {
  text-decoration: none;
  outline: none;
  border: none;
  color: #9e9ea4;
}

.Dashboard_link_sidebar {
  text-decoration: none;
  outline: none;
  border: none;
  color: #9e9ea4;
}